<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.dangermoose.ashcomobile"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="23"
        android:targetSdkVersion="29" />

    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />

    <meta-data
        android:name="DATABASE"
        android:value="ashcomobile.db" />
    <meta-data
        android:name="VERSION"
        android:value="1" />
    <meta-data
        android:name="QUERY_LOG"
        android:value="false" />
    <meta-data
        android:name="DOMAIN_PACKAGE_NAME"
        android:value="com.dangermoose.ashcomobile" />

    <application
        android:name="com.orm.SugarApp"
        android:allowBackup="false"
        android:appComponentFactory="androidx.core.app.CoreComponentFactory"
        android:debuggable="true"
        android:extractNativeLibs="false"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher"
        android:supportsRtl="true"
        android:testOnly="true"
        android:theme="@style/CustomTheme"
        android:usesCleartextTraffic="true" >
        <activity
            android:name="com.dangermoose.ashcomobile.ui.activities.ActivitySplashScreen"
            android:configChanges="orientation"
            android:label="@string/app_name"
            android:noHistory="true" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.dangermoose.ashcomobile.ui.activities.ActivityLogin"
            android:configChanges="orientation"
            android:theme="@style/CustomTheme"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name="com.dangermoose.ashcomobile.ui.activities.ActivityMain"
            android:configChanges="orientation"
            android:label="@string/app_name"
            android:theme="@style/CustomTheme"
            android:windowSoftInputMode="adjustPan" />

        <provider
            android:name="com.squareup.picasso.PicassoProvider"
            android:authorities="com.dangermoose.ashcomobile.com.squareup.picasso"
            android:exported="false" />
        <provider
            android:name="androidx.lifecycle.ProcessLifecycleOwnerInitializer"
            android:authorities="com.dangermoose.ashcomobile.lifecycle-process"
            android:exported="false"
            android:multiprocess="true" />
    </application>

</manifest>